@import "variables";
@import "colors";

* {
    box-sizing: border-box;
}

a {
    display: inline-block;
}

.font-title {
    font-family: $font-title;
    font-weight: 400;
}

.color-primary {
    color: $primary-color;
}

.color-white {
    color: $white;
}

p, div, li, span, section, article {
    font-family: $font-content;
    color: $blue;
    font-weight: 400;
    font-size: 1rem;
}

h2 {
    font-weight: 500;
    font-size: 1.5rem;
}


.color-danger {
    color: $pink!important;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline !important;
}

.underline-hover:hover {
    text-decoration: underline !important;
}

/***** Style sur les listes *****/

.list-style-none {
    list-style: none;
    margin: 0;
}
.list-style-none li {
    padding: 0.4rem 0;
}