@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Etud'Avenir</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="mb-0">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid d-flex justify-content-between">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index" alt="Etud'Avenir">
                    <img src="~/images/logo_color.png" height="36"/>
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Research" asp-action="Grade">Rechercher</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Base de données</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Contact</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User)) {
                        <li class="nav-item">
                            <a class="nav-link">Profil</a>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="footer bg-primary pt-2 pb-2">

        <div class="d-flex justify-content-between p-2">

            <div class="col-md-6">
                <ul class="list-style-none color-white">
                    <li class="color-white"><a>Rechercher</a></li>
                    <li class="color-white"><a>Base de données</a></li>
                </ul>
            </div>

            <div class="col-md-6">
                <h3 class="color-white">Qui sommes-nous ?</h3>
                <p class="color-white mt-3">
                    Des étudiants en dernières années bien déterminés à ce que vous fassiez de meilleurs choix que nous. 
                    Non, nous ne sommes pas chauvin, d’ailleurs difficile de deviner dans quelle école nous sommes. 
                    Ici, aucun favoritisme, nous essayons d’être les plus transparents possibles afin que vous fassiez le meilleur choix pour vous, pour vos études.
                </p>
            </div>
        </div>


        <div class="color-white d-flex justify-content-center">
            &copy; 2022 - Etud'Avenir
        </div>
    </footer>

    <script src="~/dist/bundledImport.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/bd6408e1f8.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
