.vs
Etud-Avenir/appsettings.*
Etud-Avenir/app
Etud-Avenir/bin
Etud-Avenir/obj
Etud-Avenir/Properties
Etud-Avenir/node_modules
Etud-Avenir/wwwroot/dist
Etud-Avenir/Etud-Avenir.csproj.user
Etud-Avenir.Tests/bin
Etud-Avenir.Tests/obj