@import "variables";
@import "colors";

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    display: inline-block;
}

.font-title {
    font-family: $font-title;
    font-weight: 400;
}

.color-primary {
    color: $primary-color;
}

.color-white {
    color: $white;
}

.color-green {
    color: $green !important;
}

p, div, li, span, section, article {
    font-family: $font-content;
    color: $blue;
    font-weight: 400;
    font-size: 1rem;
}

h2 {
    font-weight: 500;
    font-size: 1.5rem;
}

#app {
    flex: 1;
    display: grid;
}

/*footer {
    margin-top: auto;
}*/


.color-danger {
    color: $pink !important;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline !important;
}

.underline-hover:hover {
    text-decoration: underline !important;
}

.radius-20 {
    border-radius: 20px;
}

.border-3 {
    border-width: 3px;
}

.border-solid {
    border-style: solid;
}

.circle {
    border-radius: 50%;
}

/***** Style sur les listes *****/

.list-style-none {
    list-style: none;
    margin: 0;
}

.list-style-none li {
    padding: 0.4rem 0;
}


/******
*** Style le profil
********/
.profile-container {
    background-repeat: no-repeat;
    background-image: url('../images/decoration/profile/wave.png');
    background-position: left -30px bottom 0;
    background-size: 100% 100%;

    h2 {
        color: $white;
    }

    ul li {
        color: $white;
    }
}

section .container-profile-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;

    .saveButtons {
        background-color: $white;
        min-height: 200px;
        max-width: 281px;
        padding: 20px;
        flex: 1 0 100%;
        display: flex;
        border-radius: 20px !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: $shadow-box;

        i {
            font-size: 60px;
        }

        span {
            font-weight: bold;
        }
    }
}

@media (max-width: 938px) {
    .profile-container {
        h2.my-saves-title {
            color: $blue;
            text-align: center;
        }
    }
}

@media (max-width: 850px) {
    .profile-container {
        h2.other-actions-title {
            color: $blue;
            text-align: center;
        }
    }
}


/***** Style Profil > Bulletins ******/

.template-profile-page {
    background-repeat: no-repeat;
    background-image: url('../images/decoration/profile/wave_bottom.png');
    background-position: left 0 bottom -10px;
    background-size: 100% 50%;

    p {
        margin: 0 5rem;
    }

    &__main {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    &__description-element {
        margin: 2rem;
        border-radius: 10px;
        background: $white;
        box-shadow: $shadow-box;
        min-width: 400px;

        &__header {
            padding: 2rem;
        }

        &__program {
            background-color: $blue;
            padding: 2rem;

            h5 {
                color: $white;
            }

            span {
                color: $white;
            }
        }

        &__fees {
            padding: 2rem;
        }

        &__other {
            padding: 2rem;
        }

        .btn {
            margin: 0 0 1rem 2rem;
        }
    }

    &__container {
        /*width: 320px;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
    }
}

article.article-icon {
    max-width: 320px;
    flex: 1 0 100%;
    border-radius: 10px;
    background-color: white;
    box-shadow: $shadow-box;

    i {
        font-size: 50px;
    }

    .info {
        h5 {
            font-weight: bolder;
        }
    }
}

.report-modal__grades {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    .react-form-group {
    }
}

/***** Style Profil > Ecoles ******/
article.saved-school {
    .saved-school__img {
        width: 75px;
        height: 100%;
        display: block;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    .school-info {
    }
}


/**********************
***** Composants ******
***********************/

.arrow {
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $blue;

    &:after {
        width: 30px;
        height: 4px;
        background-color: $blue;
        top: calc(50% - 9.5px);
        right: -5px;
        transform: translateY(-50%) rotate(45deg);
        position: absolute;
        content: "";
    }

    &:before {
        width: 30px;
        height: 4px;
        background-color: $blue;
        bottom: 50%;
        right: -4px;
        top: calc(50% + 9.5px);
        transform: translateY(-50%) rotate(135deg);
        position: absolute;
        content: "";
    }
}

.action-danger {
    border-radius: 50%;
    background-color: rgb(242, 102, 139);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hidden-actions {
    opacity: 0;
    transition: 0.1s ease-in;
    flex: 1 0 300px;

    .action-icon-btn {
        margin-top: 5px;
    }
}

.actions-on-hover:hover {
    .hidden-actions {
        opacity: 1;
    }
}

.action-icon-btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-out;
    min-width: 30px;

    &:hover {
        opacity: 0.8;
    }

    &__delete-confirmation {
        border-radius: 10px;
        background: $white;
        padding: 0.2rem;
        margin-top: 0.2rem;
        align-items: center;
        display: flex;

        .action-icon-btn {
            margin-top: 0 !important;
        }

        span {
            margin: 0 1rem;
        }
    }
}


/**********************
***** Page BDD ******
***********************/

.database-img {
    width: 190px;
    height: 150px;
}

.filter {
    border-radius: 20px;
    background-color: $white;
    max-width: 500px;
    min-width: 350px;
    box-shadow: $shadow-box;
}

.school-container {
    max-height: 75vh;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 20px; // Pour ne pas couper le box-shadow du dernier article

    article {
        box-shadow: $shadow-box;
        background-color: $white;
        border-radius: 20px;
        width: 100%;

        h4 {
            margin: 0;
        }

        img {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            object-fit: cover;
            width: 150px;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                i {
                    font-size: 1.2rem;
                }
            }
        }

        &:not(:first-child) {
            margin-top: 2rem;
        }
    }
    /* width */
    &::-webkit-scrollbar {
        width: 15px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: $gray;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $green;
        border-radius: 10px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $green-hover;
    }
}


/*************************************
***** Page recherche (création) ******
**************************************/

.number-title {
    color: $blue;
    font-size: 1.3rem;

    span {
        font-weight: bold!important;
    }

    span.circle {
        background-color: $blue;
        color: $white;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-selected {
        color: $blue!important;

        span.circle {
            background-color: $green !important;
        }
    }
}


.report-clickable.clicked {
    border-radius: 10px;
    border: 3px solid $green;
}

.research-separator {
    display: block;
    width: 2px;
    background-color: $gray;
}